<!DOCTYPE html>
<html>
<head>
    <title>IoT Smart Energy Monitoring System</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="container">

    <h1>⚡ IoT Smart Energy Monitoring System</h1>

    <p>Monitor electricity usage in real time.</p>

    <div class="cards">

        <div class="card">
            <h2>Voltage</h2>
            <h3>230 V</h3>
        </div>

        <div class="card">
            <h2>Current</h2>
            <h3>1.8 A</h3>
        </div>

        <div class="card">
            <h2>Power</h2>
            <h3>414 W</h3>
        </div>

        <div class="card">
            <h2>Energy</h2>
            <h3>3.6 kWh</h3>
        </div>

    </div>

   <a href="/login"><button>Login</button></a>
<a href="/register"><button>Register</button></a>

</div>

</body>
</html>